mkdocs-material==9.7.7  # https://github.com/squidfunk/mkdocs-material
Markdown==3.10.2  # https://github.com/Python-Markdown/markdown
pymdown-extensions==11.0.1  # https://github.com/facelessuser/pymdown-extensions
